# =============== #
# Unity generated #
# =============== #
Temp/
Library/
webglpreview/
save.ini

# UnityVS
Assets/UnityVS.meta
Assets/UnityVS/
UnityVS.the_game.sln.ide/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Vim.
*.swp

